@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

body {
    background-color: var(--background-color);
    margin: 0;
}

article {
    margin: 8px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

* {
    --accent-color: rgb(44, 44, 44);
    --background-color: black;
    --team-color: rgb(265, 100, 50);
    --text-color: rgb(231, 231, 231);
    --text-secondary-color: rgb(150, 149, 149);

    color: var(--text-color);
    font-family: 'Monda'
}

#root {
    display: inline-flex;
}

.full-body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.page-body {
    width: 100%;
    margin: 8px 8px 0 8px;
    display: flex;
    flex-direction: column;
}

.bottombar {
    margin-left: auto;
    margin-top: auto;
    padding: 5px;
    background-color: var(--accent-color);
    border-radius: 1rem 1rem 0 0;
}

.bottombar>ul>li>a {
    font-weight: 200;
    color: var(--text-secondary-color);
    text-decoration: none;
}


.bottombar>ul>li {
    font-size: small;
    padding-right: .5rem;
    padding-left: .5rem;
    display: inline-block;
}

.bottombar>ul {
    padding-left: 0%;
    text-align: right;
    margin: 0;
    list-style: none;
    list-style-position: outside;
}

.topbar {
    padding: .2rem 1rem 1rem 1rem;
    background-color: var(--accent-color);
    border-radius: 1rem 1rem 1rem 1rem;
}

.topbar>h1 {
    margin: 0;
}

.topbar>h2 {
    font-size: 1em;
    font-weight: 300;
    color: var(--text-secondary-color);
    margin: 0;
}

.sidebar {
    position: sticky;
    top: 8px;
    margin-top: 8px;
    border-radius: 0 1rem 0 0;
    min-width: 229.5px;
    max-height: calc(100vh - 8px);
    background-color: var(--accent-color);
}

.sidebar img {
    width: 150px;
    transform: translateX(39.75px);
    padding-top: 8px;
}

.sidebar li:hover>* {
    color: var(--text-color);
}

.sidebar h2 {
    color: var(--team-color);
    text-align: center;
    margin: 0;
}

.sidebar ul {
    padding-left: 0%;
    list-style: none;
    list-style-position: outside;
}

.sidebar li:hover {
    background-color: rgb(40, 40, 40);
}

.sidebar a {
    padding: 8px;
    display: block;
    height: 100%;
    font-weight: 300;
    color: var(--text-secondary-color);
    text-decoration: none;
}