@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --team-color: rgb(265, 100, 50);
}

.open-sidebar {
  animation: open-sidebar-anim 0.3s linear forwards;
}

.close-sidebar {
  animation: close-sidebar-anim 0.3s linear forwards;
}

@keyframes open-sidebar-anim {
  0% {
    left: -13rem;
  }
  100% {
    left: 0rem;
  }
}

@keyframes close-sidebar-anim {
  0% {
    left: 0rem;
  }
  100% {
    left: -13rem;
  }
}
